@page "/"

<PageTitle>Home</PageTitle>

<h1>Furry Friends</h1>

Gain a forever friend today!   Explore our loving pets waiting for adoption. Your new best friend is just a click away. Visit our <a href="/pets">Pets</a> page to see available companions.
